body{
    margin: 0;
    padding: 0;
}

#container{
    width: 1000px;
    height: 700px;
    border: 1px black solid;
}
.sticker {
    margin: 5px;
    display: inline-block;
    text-align: center;

    width: 200px;
    height: 200px;
    /*border: 1px black solid;*/
    /*background: #f4a460;*/
}
.sticker-abs1{
    position: absolute;
    width: 280px;
    height: 280px;
    background-image: url("img/hand_made.png");
}
.form{
    background: #fff800;
    position: absolute;
    z-index: 1000;
}
.out{
    border: 5px red solid;
}
.st-cont{
    margin: 20px;
    text-align: center;
    font: italic bold 16px Verdana;
    color: #007700;
}
.board{
    background-image: url("img/nut_dark.jpg");
    /*background-repeat: repeat;*/
}